<div class="banner-wrapper ">
    
    <div class="main-logo">
        <img src="~/Content/logo.png" class="cooxi-logo"/>
    </div>
    <div class="main-search">
        <div class="inner-addon right-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>