<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Strona główna", "Index", "Home", null, new { id = "nav-index" })</li>
            <li>@Html.ActionLink("Kategorie", "Index", "Recipes", null, new { id = "nav-categories" })</li>
            <li><a href="#">Ulubione</a></li>
        </ul>
    </div>
</nav>