<section class="sidebar-categories">
    <div class="sidebar-header">
        <h3>kategorie</h3>
    </div>
    <div class="sidebar-content">
        <nav class="sidebar-nav">
            <ul>
                <li class="sidebar-category"><a href="#">Śniadanie  <span class="badge category-badge">123</span></a></li>
                <li class="sidebar-category"><a href="#">Obiad  <span class="badge category-badge">57</span></a></li>
                <li class="sidebar-category"><a href="#">Kolacja  <span class="badge category-badge">245</span></a></li>
            </ul>
        </nav>
    </div>
</section>